.box
  .border-turbo
  .turbo
  .circule1
  .circule2
  .circule3
  .circule4
  .circule5
  .circules4
    .cicle1
    .cicle2
    .cicle3
  .circule9
  .shadowcircule
  .shadowturbo
  .shadowborder
  